.news-container{
    max-width:1000px;
    margin:auto;
    padding:40px 20px;
}

.news-card{
    background:#1E293B;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

.news-card h2{
    margin-bottom:10px;
}